<div class="item-card p-3 h-100">
  <div class="position-relative img-container">
    <div class="img-card position-absolute"
         [style.background-image]="'url(' + item?.image + ')'"></div>
    <div class="icon-container">
      <ng-lottie [options]="lottieOpts"
                 (click)="play()"
                 (complete)="stop()"
                 (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-2 mb-1 mb-lg-2">
    <h6 class="email">{{item?.email}}</h6>
  </div>
  <div class="header d-flex justify-content-between align-items-center mt-3 mt-lg-4 mb-1 mb-lg-2">
    <h4 class="title">{{item?.title}}</h4>
    <h2 class="price">{{item?.price | currency: 'EUR' }}</h2>
  </div>
  <h6 class="description mt-2 mt-lg-5 mb-1 mb-lg-2">{{item?.description}}</h6>
</div>

