@import '../../../../styles/colors';
@import '../../../../styles/variables';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$favorite-icon-height: 70px;

.item-card {
  border-radius: $global-border-radius;
  transition: .4s;

  &:hover {
    -webkit-box-shadow: 0 0 12px -2px rgba($colors-primary-rgb,0.39);
    box-shadow: 0 0 12px -2px rgba($colors-primary-rgb,0.39);
  }

  .item-img-list {
    border-radius: $global-border-radius;
    background-size: cover;
    height: 150px;
  }

  .lottie-list {
    width: 60px;
    height: 60px;
  }

  .img-container {
    height: 400px;

    &:after {
      margin-top: $favorite-icon-height;
      position: absolute;
      content: ' ';
      width: 100%;
      height: calc(100% - #{$favorite-icon-height});
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3));
      border-radius: $global-border-radius;
    }

    .img-card {
      height: 400px;
      width: 100%;
      background-size: cover;
      border-radius: $global-border-radius;

      @include media-breakpoint-down(lg) {
        height: 280px;
      }
    }

    .icon-container {
      width: 60px;
      height: 60px;
      right: 0;
      margin: 10px;
      position: absolute;
      border-radius: 50%;
      background-color: rgba($colors-primary-rgb, .2);
    }
  }

  .header {
    font-weight: 500;
  }

  .description,
  .email {
    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  .price {
    color: $colors-primary;
  }

  .email {
    color: $colors-gray;
  }
}
