<div class="menu h-100">
  <div class="position-absolute d-flex flex-row-reverse d-md-block bottom-0 w-100">
    <div *ngFor="let item of items"
         [class]="item.class"
         (click)="item.click()">
      <svg-icon class="me-3"
                [src]="item.icon"
                [svgStyle]="{
                        'width.px': 30,
                        'height.px': 30,
                        'fill':'rgb(255,255,255)'}"></svg-icon>
      <span class="my-0 d-none d-md-block">{{item.title}}</span>
    </div>
  </div>
</div>
