@import '../../../styles/colors';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.search-container {
  .search-icon {
    fill: rgb($colors-primary-rgb, .5);
  }

  .searchbar {
    transition: .4s;
    border: 0;
    outline: 0;
    height: 35px;
    border-bottom: 1px solid rgba($colors-primary-rgb, .5);

    &:focus {
      border-bottom: 2px solid $colors-primary-rgb;
    }
  }
}

